.scoreboard {
  z-index: 99;
  position: absolute;
  top: 10% ;
  right: 50%;
}

.toolbar {
  z-index: 99;
  position: absolute;
  top: 10%;
  left: 1%;
}

.engine-wrapper {
  background: linear-gradient(#3498db, #2274aa);
}
