.menu-buttons {
  .btn {
    height: 100px;
    width: 100px;
    margin-bottom: 5px;

    .fa,
    .fas {
      font-size: 40px;
    }
  }
}

.developer-mode {
  z-index: 99;
  position: absolute;
  bottom: 1%;
  right: 1%;
  cursor: pointer;
}
