.container {
  .text-muted {
    color: #ced3d6 !important;
  }

  .graph {
    height: 40vh;
  }

  @media (max-width: 600px) {
    .graph {
      height: 35vh;
    }
  }
}

.developer-mode {
  z-index: 99;
  position: absolute;
  bottom: 1%;
  right: 1%;
  cursor: pointer;
}
