<div class="engine-wrapper" [ngClass]="{'d-none': !tutorialStarted}">
  <canvas #rendererCanvas id="renderCanvas"></canvas>
</div>
<div class="container text-center d-flex align-items-center justify-content-center" *ngIf="!tutorialStarted">
  <div class="back-button" [routerLink]="['/calibration']">
    <i class="fa fa-arrow-left text-primary"></i>
  </div>
  <div>
    <div class="row">
      <div class="col">
        <h1>
          Tutorial
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>
          In this application,
          you are going to use a breathing technique
          called <b>Pursed lip breathing</b>.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-primary" (click)="tutorialStarted = true">
          Continue
        </button>
      </div>
    </div>
  </div>
</div>
<div class="container text-center mt-4" *ngIf="tutorialStarted  && !(spiromagicService.tutorialFinished$ | async)">
  <div class="back-button" (click)="tutorialStarted = false">
    <i class="fa fa-arrow-left text-primary"></i>
  </div>
  <div class="row">
    <div class="col">
      <p>
        Slowly inhale from your nose.<br>
        Slowly exhale into the SpiroMagic device and fill out the circle.
      </p>
      <p>
        Change the sensitivity, if it is too easy or difficult to fill out the circle.
      </p>
      <div class="form-group">
        <label for="sensitivityRange">Sensitivity ({{sensitivity}}%)</label>
        <input type="range" #sensitivityControl class="form-control" min="0" max="100" step="1" [value]="sensitivity"
          (input)="changeSensitivity(+sensitivityControl.value)" id="sensitivityRange">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-primary" (click)="finish()">
        Finish tutorial
      </button>
    </div>
  </div>
</div>
