<div class="container-fluid">
  <div class="row mb-4 mt-4">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <!-- <h5 class="card-title">Spirometer Calibration</h5> -->
          <div class="row justify-content-between">
            <div class="col-4">
              <p class="font-weight-bold">Calibration</p>
              <div class="form-group">
                <label for="calibrationMode">Mode</label>
                <div>
                  <button id="calibrationMode" type="button" class="btn btn-primary btn-calibration"
                    *ngFor="let calibration of calibrations"
                    [ngClass]="{'active': activeCalibration.name === calibration.name}"
                    (click)="changeCalibration(calibration)">
                    {{calibration.name}}
                  </button>
                </div>
                <small class="form-text text-muted">{{activeCalibration.description}}</small>
              </div>
              <div class="form-group">
                <label for="sensitivityRange">Sensitivity ({{sensitivity}}%)</label>
                <input type="range" #sensitivityControl class="form-control" min="0" max="100" step="1"
                  [value]="sensitivity" (input)="changeSensitivity(+sensitivityControl.value)" id="sensitivityRange">
                <small class="form-text text-muted">How sensitive should the readings be.</small>
              </div>
            </div>
            <div class="col-4" *ngIf="readings">
              <p class="font-weight-bold">Readings</p>
              <p>Current reading: {{readings.current}}</p>
              <p>Min reading: {{readings.min}}</p>
              <p>Max reading: {{readings.max}}</p>
              <button type="button" class="btn btn-primary" (click)="resetReadings()">
                Reset readings
              </button>
              <button type="button" class="btn btn-primary ml-2" (click)="resetCalibration()">
                Reset calibration
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col mb-4">
      <div class="card">
        <div class="card-body">
          <div class="graph">
            <canvas baseChart [datasets]="chartData" [chartType]="chartType" [labels]="chartLabels"
              [options]="chartOptions"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
