.container-fluid {
  .card {
    background-color: #323f4f;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.25);

    .text-muted {
      color: #ced3d6 !important;
    }
  }

  .btn-calibration {
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .graph {
    height: 40vh;
  }

  @media (max-width: 600px) {
    .graph {
      height: 35vh;
    }
  }
}
