<div class="container text-center d-flex align-items-center justify-content-center">
  <div *ngIf="!spiromagicService.isConnected">
    <div class="row">
      <div class="col">
        <h1>Welcome</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>Please open the SpiroMagic device and connect it to the application.</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-primary" [disabled]="isConnecting" (click)="connect()">
          Connect
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="spiromagicService.isConnected && !(spiromagicService.tutorialFinished$ | async)">
    <div class="row">
      <div class="col">
        <h1>Device successfully connected</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>We must calibrate the SpiroMagic device to fit your breathing.</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-primary" [routerLink]="['/calibration']">
          Calibrate
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="spiromagicService.isConnected && spiromagicService.tutorialFinished$ | async">
    <div class="row">
      <div class="col">
        <h1>Device successfully connected</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>Your have already calibrated and done the tutorial before, so you can skip directly to the menu or
          recalibrate the device</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-primary mr-2" [routerLink]="['/menu']">
          Menu
        </button>
        <button type="button" class="btn btn-warning" [routerLink]="['/calibration']"
          (click)="spiromagicService.setTutorialCompleted(false)">
          Recalibrate
        </button>
      </div>
    </div>
  </div>
</div>
