<div class="back-button" [routerLink]="['/menu']">
  <i class="fa fa-arrow-left text-light"></i>
</div>

<div class="container text-center d-flex align-items-center justify-content-center">
  <div>
    <div class="row">
      <div class="col">
        <h1>Exercise 3</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>
          In this application, you will slowly inhale through your nose for 4 seconds and slowly exhale into the SpiroMagic for 6 seconds. Repeat this 10 times.
        </p>
      </div>
    </div>
  </div>
</div>
