<div class="back-button" [routerLink]="['/menu']">
  <i class="fa fa-arrow-left text-light"></i>
</div>

<div class="container text-center d-flex align-items-center justify-content-center">
  <div>
    <div class="row">
      <div class="col">
        <h1>Text</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </p>
      </div>
    </div>
  </div>
</div>
