<div class="back-button" [routerLink]="['/menu']">
  <i class="fa fa-arrow-left"></i>
</div>

<div class="toolbar">
  <div class="card">
    <div class="card-body">
      <!-- <div class="form-group">
        <label for="gameSpeedRange">Game speed</label>
        <input type="range" #gameSpeedControl class="form-control" min="0" max="10" step="0.25" [value]="speed"
          (input)="setGameSpeed(+gameSpeedControl.value)" id="gameSpeedRange">
      </div> -->
      <i class="fas fa-coins text-warning mr-2"></i> {{coinsCollected}}
    </div>
  </div>
</div>

<div class="engine-wrapper">
  <canvas #rendererCanvas id="renderCanvas"></canvas>
</div>
