<div class="container text-center d-flex align-items-center justify-content-center">
  <div>
    <div class="row">
      <div class="col">
        <h1>
          Browser not supported
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>
          Your browser does not support the Web Bluetooht API, full list of supported browser can be seen
          <a href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Bluetooth_API#browser_compatibility"
            target="blank">here</a>.
        </p>
      </div>
    </div>
  </div>
</div>
