<div class="container text-center d-flex align-items-center justify-content-center">
  <div *ngIf="!exhalationCompleted && !inhalationCompleted">
    <div class="back-button" [routerLink]="['/connect']">
      <i class="fa fa-arrow-left text-light"></i>
    </div>
    <div class="row">
      <div class="col">
        <h1>
          Exhale as hard as you can into the SpiroMagic
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>
          When you have exhaled as hard as you can, select continue.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-light" (click)="exhalationCompleted = true">
          Continue
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="exhalationCompleted && !inhalationCompleted">
    <div class="back-button" (click)="exhalationCompleted = false">
      <i class="fa fa-arrow-left text-light"></i>
    </div>
    <div class="row">
      <div class="col">
        <h1>
          Inhale as hard as you can into the SpiroMagic
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>
          When you have inhaled as hard as you can, select continue.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-light" (click)="inhalationCompleted = true">
          Continue
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="exhalationCompleted && inhalationCompleted && calibrationProgress !== 100">
    <div class="back-button" (click)="inhalationCompleted = false">
      <i class="fa fa-arrow-left text-light"></i>
    </div>
    <div class="row">
      <div class="col">
        <h1>Calibration almost done</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>
          Keep the SpiroMagic still until the progression bar is full
        </p>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0"
            aria-valuemin="0" aria-valuemax="100" [style.width.%]="calibrationProgress"></div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="exhalationCompleted && inhalationCompleted && calibrationProgress === 100">
    <div class="back-button" (click)="inhalationCompleted = false">
      <i class="fa fa-arrow-left text-light"></i>
    </div>
    <div class="row">
      <div class="col">
        <h1>Calibration done</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>
          You have now calibrated the device to fit your breathing.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-light" [routerLink]="['/tutorial']">
          Continue
        </button>
      </div>
    </div>
  </div>
</div>
