<div class="container-fluid">
  <div class="row row-cols-1">
    <div class="col mb-4 mt-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Spirometer Stats</h5>
          <p>Current reading: {{lastReading || 'N/A'}}</p>
          <p>Smallest reading: {{minReading || 'N/A'}}</p>
          <p>Biggest reading: {{maxReading || 'N/A'}}</p>
          <p>Calibration:</p>
          <button type="button" class="btn btn-primary btn-calibration" *ngFor="let calibration of calibrations"
            [ngClass]="{'active': activeCalibration === calibration}" (click)="changeCalibration(calibration)">
            {{calibration.name}}
          </button>
          <p class="text-muted mt-2"><small>{{calibrationDescription}}</small></p>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <div class="card-body">
          <!-- TODO: Height needs to be dynamic and support mobile devices -->
          <div class="graph">
            <canvas baseChart [datasets]="chartData" [chartType]="chartType" [labels]="chartLabels"
              [options]="chartOptions"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
